<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access Denied</title>
<title th:utext="${title}"></title>
<link type="text/css" rel="stylesheet" href="/css/welcomePageStyle.css">
<link type="text/css" rel="stylesheet"
	href="/webjars/font-awesome/5.15.2/css/all.min.css">
<link type="text/css" rel="stylesheet"
	href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css">
</head>

<body>
	<!-- Include _menu.html -->
	<div th:replace="welcomePage :: header">...</div>

	<h3 th:if="${message != null}" th:utext="${message}"
		style="color: red;"></h3>

	<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

</html>