@font-face{
    font-family: Roboto;
    src: url(font/Roboto-Light.ttf);
}
/*------------*/
html, body{
    height: 100%;
}
body{
    top: 0;
    left: 0;font-family: Roboto;
}
* {
    box-sizing: border-box;
    }
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h3 {
    font-weight: bold;
}
/* ------------------ */
.f-sz-14{
    font-size: 14px;
}
.pd-lr-30{
    padding: 0 30px;
}
.pd-l-30{
    padding-left: 30px;
}
/* ------------------ */
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.border{
    width: 60%;
    border-radius: 5px;
}  
.border h3{
    padding: 20px 0 0px 30px;
}
.border .form-group{
    padding: 15px;
}
.border .form-check{
    padding: 10px 0 10px 38px;
    position: relative;
    display: block;
}
.border-left{
    border-left: 1px solid #bbb;
}
.form-logn-in{
    padding-left: 30px;
    padding-top: 10px;
    padding: 10px 0 20px 30px;
}
.btn-logn-in{
    width: 100%;
}
.icon{
    font-size: 20px;
    padding-right: 10px;
}
.bt {
    width: 85%;
}

.bt i {
    font-size: 15px;
    font-family: sans-serif;
    position: relative;
    float: left;
    left: 20px;
}
