<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link type="text/css" rel="stylesheet" href="/css/loginPage.css">
<link type="text/css" rel="stylesheet" href="/css/welcomePageStyle.css">
<link type="text/css" rel="stylesheet"
	href="/webjars/font-awesome/5.15.2/css/all.min.css">
<link type="text/css" rel="stylesheet"
	href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="welcomePage :: header">...</div>
	<div class="container">
		<div class="border">

			<h3 class="mb-3">Login</h3>

			<!-- /login?error=true -->
			<div th:if="${#request.getParameter('error') == 'true'}"
				style="color: red; margin: 10px 0px;">Login Failed!!!</div>

			<form name='f' th:action="@{/j_spring_security_check}" method='post'>
				<table>
					<tr>
						<td>User:</td>
						<td><input type='text' name='username' value=''
							class="mb-2 ml-2" /></td>
					</tr>
					<tr class="mb-3">
						<td>Password:</td>
						<td><input type='password' name='password' class="mb-2 ml-2" /></td>
					</tr>
					<tr>
						<td><input name="submit" type="submit" value="Log in" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>

</html>